<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'BuySignal App',  root_path %>
     </p>

    <p>
    	<% if user_signed_in? %>
    		<%= link_to "My Dashboard", dashboard_path, class: "btn btn-primary btn-large" %>
    	<% else %>
		  	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	  	<% end %>
   	</p>
</div>