<div class="row">
    <div class="span6 offset3">
        <div class="well">
        	<h1>Request Page</h1>
          <p>
            Keyword: <%= @query.keyword %>
          </p>
          <p>
            DataSift Query: <%= @query_text %>
          </p>
          <p>
            <div>Tweets:</div>
          <blockquote class="twitter-tweet" align="center" width="350"><p>This is a fake tweet</p>&mdash; Jesse Hu (@jaliseee) <a href="https://twitter.com/jaliseee/statuses/360832292723236865">July 26, 2013</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
            <%= link_to 'Back', queries_path %>
        </div>
    </div>
</div>