<h1>Editing query</h1>

<div id="jcsdl-edit"></div>

<%= render 'form' %>

<td><%= link_to 'Destroy', @query, method: :delete, data: { confirm: 'Are you sure?' } %></td><br />
<%= link_to 'Show', @query %> |
<%= link_to 'Back', queries_path %>
