<div class="row">
    <div class="span8 offset2">
        <div class="well">
        	<h1>Request Page</h1>
          <p>
            Keyword: <%= @query.keyword %>
          </p>
          <p>
            <div>Tweets:</div>
            <% @statuses.each_with_index do |status, index| %>
              <div><%= index %>. <%= status %></div>
            <% end %>
            <%= link_to 'Back', queries_path %>
        </div>
    </div>
</div>