
body{
    padding-top: 70px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

footer{
    margin-top: 100px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   // background: rgba(255,255,255,0.9);
	opacity: 0.9;
}

.navbar.transparent.navbar-inverse .navbar-inner {

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #004d61, #002d41);
  background-image: -ms-linear-gradient(top, #004d61, #002d41);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004d61), to(#002d41));
  background-image: -webkit-linear-gradient(top, #004d61, #002d41);
  background-image: -o-linear-gradient(top, #004d61, #002d41);
  background-image: linear-gradient(top, #004d61, #002d41);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004d61', endColorstr='#002d41', GradientType=0);
}